<div class="footer">
  <div class="container">
  <p class="warn">
    جميع المعلومات المذكورة بالصفحة تم جمعها من مصادر غير رسمية لذا لزم التنوية
    باخلاء مسؤولية القائمين على الصفحة من اية ضمانات لصحة المحتوى او تحديثه بشكل
    دورى
  </p>
  <!-- <p class="contact-us">للتواصل معنا</p> -->

  <div class="uses">

    <ul>
      <li class="email">
        <a href="">info@egycasa.com</a>
        </li>
      <!-- <li>
        <a routerLink="/policy"> سياسة الخصوصية </a>
      </li> -->
    </ul>
  </div>
</div>
</div>
