.footer {
  background-color: #eee;
  color: #111;
  // font-weight: 600;
  font-size: 13px;
  padding: 3rem 2rem 3rem;

  text-align: center;
  .contact-us{
    margin-bottom: 0;
  }
  .warn {
  }
  .uses {
    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 0;

      .email {
        // margin-left: 25.5rem;
      }
      li {
        margin: .5rem 0;
        a {
          text-decoration: none;
          color: #111;
        }
      }
    }
  }
}
