<div class="qustions">
  <div class="container">
    <p-accordion>
      <p-accordionTab
        *ngFor="let question of questions; let i = index"
        [attr.data-index]="i"
      >
        <ng-template pTemplate="header">
          <div
            style="
              width: 64rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div style="white-space:pre-wrap" >{{ question.question }}</div>
          </div>
        </ng-template>
        <div class="answer">
          <div style="font-size: 15px;" name = "description" [innerHTML]="question.answer">
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
