::ng-deep p-accordion{
 .p-accordion-tab {
   border-radius: 10px;
    background-color: #eee;
    padding: 1.5rem;
    margin: 1rem;
    .p-accordion-header {
font-size: 20px;
a{
  color: green;
  font-weight: 600;

}
    }
  }
}
.qustions{
  margin-bottom: 8rem;
  margin-top: 5rem;
  .question-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      font-size: 30px;
    }
  }
  .answer{
    margin-top: 2rem;
    color: #111;
    font-size: 20px;
  }
}
