 <div class="qustions">
   <div class="container">
    <p-accordion>
      <p-accordionTab *ngFor="let question of questions">
        <ng-template pTemplate="header" >
          <div (click)="show()" style="width: 64rem;display: flex;align-items: center;justify-content: space-between;">
          <div> {{question.question}}</div>
         <div *ngIf="showPlus" style="font-size: 30px;">+</div>
         <div *ngIf="!showPlus" style="font-size: 30px;">-</div>
        </div>
        </ng-template>

        <div class="answer">
          {{question.answer}}
        </div>
      </p-accordionTab>
    </p-accordion>
   </div>
 </div>


