.maps{
  .container{
    // width: 980px;

  margin-bottom: 9rem;
  margin-top: 6rem;
.carousel-inner{
  border-radius: 10px;
}
  .carousel-item{
    height: 35rem;
    // border-radius: 10px;
    .image1{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image2{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green2.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image3{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green3.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image4{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green4.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image5{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green5.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image6{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green6.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image7{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green7.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image8{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green8.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image9{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green9.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image10{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green10.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
    .image11{
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/green11.jpeg');
      background-size: cover;
      background-repeat: no-repeat;

    }
  }
}
  }

