.maps{
::ng-deep p-carousel{
  .p-link{
    padding: 5px;
    border: 1px;
    background-color: green;
  }
  .p-carousel-item{
  .carsoul-content{
    background-size: cover;
    height: 30rem;
    background-repeat: no-repeat;
  }
  }
  }
}
