.collapse:not(.show) {
  display: block;
  ul {
    display: flex;
    flex-direction: inherit;
    li {
    }
  }
}
.content {
  margin: 3rem 0;
}

.navbar {
  background-color: rgb(72, 155, 72);
  // background-color: #eee;
  box-shadow: 0 4px 2px -2px rgb(72, 155, 72);
  height: 7rem;
  font-size: 18px;
  font-weight: 600;

  .nav-item {
    margin: 0 1rem;

    .nav-link {
      color: #fff;
      // width: 8rem;
      @media (max-width: 768px) {
        font-size: 13px;
        width: 5rem;
      }
    }
    .active {
      color: #111;
    }
  }
  .container {
  }
}
