<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="landForSale">أراضي للبيع</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Qusetions">أسئلة متكررة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="maps">الخرائط</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
<p>جميع المعلومات المذكورة بالصفحة تم جمعها من مصادر غيررسمية لذا لزم التنوية باخلاء مسؤولية القائمين على الصفحة من اى ضمانات لصحة المحتوى او تحديثه بشكل دورى</p>
<p>تواصل معانا...</p> <span>info@egycasa.com</span>
</div>
