::ng-deep p-carousel{
.p-link{
  padding: 5px;
  border: 1px;
  background-color: green;
}
.p-carousel-item{
.carsoul-content{
  background-size: cover;
  height: 15rem;
  background-repeat: no-repeat;
}
}
}
.home-section{
  padding: 3rem 0;

  .image{

    background-image: url("../../assets/floor.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem;
    background-size: cover;
  }
}
