.home-section {
  // padding: 3rem 0;
  .home-content {
    // display: flex;
    width: 100%;
    // justify-content: space-between;
    .container {
      margin-top: 2rem;
      .text {
        // width: 49%;
        text-align: justify;
      }
      .goals {
        .title {
          font-weight: 700;
          text-decoration: underline;
          margin: 1rem 0;
        }
      }
    }
    .home-carsouel {
      height: 30rem;
      .carousel-inner {
        border-radius: 10px;
        .carousel-item {
          position: relative;
          img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
