<div class="home-section">
  <div class="container">
    <div class="image">
  </div>
  <div class="table-content">
    <table class="table">
      <thead>
        <tr class="header">
          <td scope="col">
           <span>مساحة القطعة بالمتر</span></td>
          <td scope="col"><span>حوض رقم</span></td>
          <td scope="col"><span>سعر المتر بالجنيه المصري</span></td>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let data of floorData" (click)="floorDetails(data.id)">
          <td scope="row">{{data.distance}}</td>
          <td>{{data.basin_number}}</td>
          <td>{{data.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
