
<div class="floor-details ">
  <div class="container ">
    <div class=" d-flex justify-content-center row">
      <div class="col-md-12 text-center ">
        <p class="py-4 fw-bolder">التفاصيل</p>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center  bd-highlight  ">
    <div class="p-3 border h col-6 col-md-3 fw-bolder bg-light">مساحة القطعة بالمتر :</div>
    <div class="p-3 border col-6 col-md-3 bg-light"> {{data.meter_price}}</div>

  </div>
  <div class="d-flex flex-row justify-content-center  bd-highlight ">
    <div class="p-3  border h col-6  col-md-3 fw-bolder">حوض رقم :</div>
    <div class="p-3 border col-6  col-md-3 ">{{data.basin_num}}</div>
  </div>
  <div class="d-flex flex-row  justify-content-center bd-highlight">
    <div class="p-3  border col-6  h col-md-3 bg-light fw-bolder">بوابة رقم :</div>
    <div class="p-3 border col-6  col-md-3 bg-light"> {{data.gate_num}}</div>
  </div>
  <div class="d-flex flex-row justify-content-center bd-highlight">
    <div class="p-3  border col-6  h col-md-3 fw-bolder">ابعاد القطعه بالمتر طول وعرض :</div>
    <div class="p-3 border col-6   col-md-3">{{data.dimensions}}</div>
  </div>
  <div class="d-flex flex-row justify-content-center bd-highlight">
    <div class="p-3  border col-6  h fw-bolder bg-light col-md-3 ">احدثيات الموقع علي جوجل :
    </div>
    <div class="p-3 border col-6  col-md-3  bg-light">{{data.google}}
    </div>
  </div>
  <div class="d-flex flex-row  justify-content-center bd-highlight">
    <div class="p-3  border h col-6  col-md-3 fw-bolder ">قرار وزاري :</div>
    <div class="p-3 border col-6  col-md-3 ">{{data.descion}}
    </div>
  </div>
  <div class="d-flex flex-row  bd-highlight justify-content-center">
    <div class="p-3  border h col-6  col-md-3 bg-light fw-bolder ">تراخيص بناء :</div>
    <div class="p-3 border col-6  col-md-3 bg-light">{{data.licenses}}
    </div>
  </div>
  <div class=" d-flex flex-row  bd-highlight justify-content-center ">
    <div class="p-3  border col-6  h col-md-3 fw-bolder ">سعر المتر :</div>
    <div class="p-3 border col-6  col-md-3">{{data.meter_price}}
    </div>
  </div>
  <div class="d-flex flex-row  bd-highlight justify-content-center">
    <div class="p-3  border col-6   h col-md-3 bg-light fw-bolder ">كاش / تسهيلات :</div>
    <div class="p-3 border col-6  col-md-3 bg-light">{{data.cash}}
    </div>
  </div>
  <div class="d-flex flex-row  bd-highlight justify-content-center ">
    <div class="p-3  border col-6  h col-md-3 fw-bolder ">بيع فقط / مستعد للشراكة :</div>
    <div class="p-3 border col-6  col-md-3">{{data.sell}}</div>
  </div>
  <div class="d-flex flex-row  bd-highlight justify-content-center ">
    <div class="p-3  border col-6  h bg-light col-md-3 fw-bolder ">عقد من جهاز مدينه 6 أكتوبر :</div>
    <div class="p-3 border col-6  bg-light col-md-3">{{data.october}}
    </div>
  </div>
  <div class=" d-flex flex-row  bd-highlight justify-content-center ">
    <div class="p-3  border col-6  h col-md-3 fw-bolder ">رقم التليفون :</div>
    <div class="p-3 border col-6  col-md-3"> {{data.mobile}}</div>
  </div>
</div>
