<div class="floor-details">
  <div class="container">
    <h3>التفاصيل</h3>
    <div class="row details-contents">
      <div class="col-4">
<div class="details">
  <span class="queston">
    مساحة القطعة بالمتر :
  </span> <span class="answer">
    {{data.distance}}
  </span>
</div>

<div class="details">
  <span class="queston">حوض رقم :</span> <span class="answer">
    {{data.basin_num}}
  </span>
</div>
<div class="details">
  <span class="queston">بوابة رقم :</span> <span class="answer">
    {{data.gate_num}}
  </span>
</div>
<div class="details">
  <span class="queston">ابعاد القطعه بالمتر طول وعرض :</span> <span class="answer">
    {{data.dimensions}}
  </span>
</div>
      </div>
      <div class="col-4">
        <div class="details">
          <span class="queston">
            احدثيات الموقع علي جوجل :
          </span> <span class="answer">
            {{data.google}}
          </span>
        </div>

        <div class="details">
          <span class="queston">عقد من جهاز مدينه 6 أكتوبر :</span> <span class="answer">
            {{data.october}}
          </span>
        </div>
        <div class="details">
          <span class="queston">قرار وزاري :</span> <span class="answer">
            {{data.descion}}
          </span>
        </div>
        <div class="details">
          <span class="queston">تراخيص بناء :</span> <span class="answer">
            {{data.licenses}}
          </span>
        </div>
      </div>
      <div class="col-4">
        <div class="details">
          <span class="queston">سعر المتر :</span> <span class="answer">
            {{data.meter_price}}
          </span>
        </div>

        <div class="details">
          <span class="queston">كاش \ تسهيلات :</span> <span class="answer">
            {{data.cash}}
          </span>
        </div>
        <div class="details">
          <span class="queston">بيع فقط \ مستعد للشراكة</span> <span class="answer">{{data.sell}}</span>
        </div>
        <div class="details">
          <span class="queston">رقم التليفون :</span> <span class="answer">
            {{data.mobile}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
