<div class="floor-details">
  <div class="container" style="margin-bottom: 8rem;">
    <h4 style="font-size: 1.3rem;">التفاصيل</h4>
    <div class="row details-contents">
      <div class="col-md-4 col-sm-12">
<div class="details">
  <div class="row">
  <div class="col-6">
    <span class="queston">
      مساحة القطعة بالمتر :
    </span>
  </div>


<div class="col-6">
  <span class="answer">
    {{data.distance}}
  </span>
</div>
</div>
</div>

<div class="details">
  <div class="row">
    <div class="col-6"> <span class="queston">حوض رقم :</span> </div>
    <div class="col-6"> <span class="answer">
      {{data.basin_num}}
    </span></div>
  </div>


</div>
<div class="details">
  <div class="row"><div class="col-6">
    <span class="queston">بوابة رقم :</span>
  </div>
<div class="col-6">
  <span class="answer">
    {{data.gate_num}}
  </span>
</div>
</div>


</div>
<div class="details">
  <div class="row">
    <div class="col-6">
      <span class="queston">ابعاد القطعه بالمتر طول وعرض :</span>
    </div>
    <div class="col-6">
      <span class="answer">
        {{data.dimensions}}
      </span>
    </div>
  </div>

</div>
      </div>
      <div class="col-md-4  col-sm-12">
        <div class="details">
          <div class="row">
          <div class="col-6">
            <span class="queston">
              احدثيات الموقع علي جوجل :
            </span>
          </div>
          <div class="col-6">
            <span class="answer">
              {{data.google}}
            </span>
          </div>
        </div>

        </div>

        <div class="details">
          <div class="row">
            <div class="col-6">
              <span class="queston">عقد من جهاز مدينه 6 أكتوبر :</span>
            </div>
            <div class="col-6">
              <span class="answer">
                {{data.october}}
              </span>
            </div>
          </div>

        </div>
        <div class="details">
          <div class="row">
            <div class="col-6">
              <span class="queston">قرار وزاري :</span>
            </div>
            <div class="col-6">
              <span class="answer">
                {{data.descion}}
              </span>
            </div>
          </div>

        </div>
        <div class="details">
          <div class="row">
            <div class="col-6">
              <span class="queston">تراخيص بناء :</span>
            </div>
            <div class="col-6">
              <span class="answer">
                {{data.licenses}}
              </span>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="details">
          <div class="row">
            <div class="col-6">
              <span class="queston">سعر المتر :</span>
            </div>
            <div class="col-6">
              <span class="answer">
                {{data.meter_price}}
              </span>
            </div>
          </div>

        </div>

        <div class="details">
          <div class="row">
            <div class="col-6">
              <span class="queston">كاش / تسهيلات :</span>
            </div>
            <div class="col-6">
              <span class="answer">
                {{data.cash}}
              </span>
            </div>
          </div>

        </div>
        <div class="details">
          <div class="row">
            <div class="col-6">
              <span class="queston">بيع فقط / مستعد للشراكة</span>
            </div>
            <div class="col-6">
              <span class="answer">{{data.sell}}</span>
            </div>
          </div>

        </div>
        <div class="details">
          <div class="row">
            <div class="col-6">
              <span class="queston">رقم التليفون :</span>
            </div>
            <div class="col-6">
              <span class="answer">
                {{data.mobile}}
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
