<div class="policy">
  <div class="container">
    <h5>سياسة الخصوصية</h5>
    <div style="text-align: justify">
      <div>
        01. تشرح هذه السياسة كيفية التصرف في معلوماتك الشخصية. بموافقتك على
        استخدامنا لملفات تعريف الارتباط وفقًا لبنود هذه السياسة عند زيارتك
        لموقعنا الإلكتروني لأول مرة فإنك تسمح لنا باستخدام ملفات تعريف الارتباط
        في كل مرة تزور فيها موقعنا.
      </div>
      <br />
      <div>
        02. حقوق النسخ و الملكية: يحظر نسخ أو حفظ أى محتوى بالصفحة دون الحصول
        على إذن كتابى مسبق من مالكى الصفحة و يمثلهم شركة Senergic Solutions
        لتقنيات البرمجة و مقرها الدائم بدولة سويسرا و يتم التواصل على البريد
        الالكترونى الأتى:
        <a style="color: var(--bs-link-color); text-decoration: underline"
          >info@egycasa.com</a
        >
      </div>
      <br />
      <div>
        03. يخضع هذا الموقع لقوانين خصوصية البيانات السويسرية و تتولى محاكم
        ولاية زيوريخ الفصل فى الموقع أى نزاع يتعلق بالموقع
      </div>
      <br />
      <div>
        04. قد يتم جمع وتخزين واستخدام المعلومات الشخصية التالية:<br />
        • معلومات حول جهاز الحاسوب الخاص بك بما في ذلك عن<br />
        • معلومات حول زياراتك للموقع واستخدامه بما في ذلك مصدر الإحالة، ومدة
        الزيارة ومسارات التصفح المعلومات التي تدخلها عند التسجيل في موقعنا
        الإلكتروني، مثل بريدك الإلكتروني.<br />
        • المعلومات التي تدخلها عند إنشاء ملف تعريف على موقعنا كالاسم ، الجنس،
        تاريخ الميلاد<br />
        • المعلومات التي تدخلها أثناء استخدام الخدمات على موقعنا.<br />
        • المعلومات التي يتم إنشاؤها أثناء استخدام موقعنا الإلكتروني، بما في ذلك
        مواعيد وتكرار استخدامك للموقع والظروف التي تستخدم فيها الموقع.<br />
        • المعلومات المتعلقة بأي شيء تشتريه، أو الخدمات التي تستخدمها، أو
        المعاملات التي تجريها من خلال موقعنا الإلكتروني، والتي تشمل اسمك وعنوانك
        ورقم هاتفك وتفاصيل بطاقة الائتمان.<br />
        • المعلومات التي تنشرها على موقعنا الإلكتروني بغرض مشاركتها على
        الإنترنت، و تشمل اسم المستخدم وصور ملفك الشخصي ومحتوى مشاركاتك.<br />
        • المعلومات الواردة في أي مراسلات ترسلها إلينا عبر البريد الإلكتروني أو
        عبر موقعنا الإلكتروني، بما في ذلك المحتوى المشترك والبيانات الوصفية. أي
        معلومات أخرى ترسلها إلينا.<br />
        • قبل أن تفصح لنا عن المعلومات الشخصية الخاصة بشخص آخر ينبغي عليك الحصول
        على موافقة هذا الشخص
      </div>
      <br />
      <div>
        05. قد نستخدم معلوماتك الشخصية في الأغراض التالية:<br />
        • إدارة موقعنا وأعمالنا على شبكة الإنترنت. <br />
        • تخصيص موقعنا على شبكة الإنترنت ليكون أكثر ملاءمة للمستخدم. تمكينك من
        استخدام الخدمات المتاحة على موقعنا. <br />
        • إرسال البضائع التي تشتريها من الإنترنت. توفير الخدمات المشتراة من خلال
        موقعنا على شبكة الإنترنت.<br />
        • إرسال البيانات والفواتير وإشعارات الدفع، وتحصيل المدفوعات. إرسال رسائل
        تجارية غير تسويقية.<br />
        • إرسال إشعارات قمت بطلب إرسالها على وجه التحدي<br />
        • إرسال المراسلات التسويقية المتعلقة بأعمالنا أو أعمال جهات تم اختيارها
        بعناية والتي نعتقد أنها قد تهمك، <br />
        • تزويد طرف ثالث بمعلومات إحصائية عن مستخدمينا <br />
        • التعامل مع الاستفسارات والشكاوى التي تقدمها أو تقدم لنا بشأنك على
        موقعنا. <br />
        • حماية موقعنا من الاحتيال والحفاظ ع أمن الموقع<br />
        • التحقق من الامتثال للشروط والأحكام التي تحكم استخدام موقعنا الإلكتروني
        (بما في ذلك مراقبة الرسائل المرسلة عبر خدمة الرسائل الخاصة بموقعنا).
        <br />
        • أى استخدامات أخرى قد يتم اضافتها فيما بعد
      </div>
      <br />
      <div>06.	إذا قمت بتقديم معلومات شخصية للنشر على موقعنا، فسنقوم بنشر هذه المعلومات واستخدامها وفقًا للترخيص الذي تمنحه لنا. يمكن استخدام إعدادات الخصوصية الخاصة بك للحد من نشر معلوماتك على موقعنا الإلكتروني ويمكن تعديلها باستخدام عناصر التحكم في الخصوصية على الموقع.
        لن نزود أي طرف ثالث دون موافقتك الصريحة، بمعلوماتك الشخصية لأغراض التسويق المباشر
        </div><br>
        <div>
          07.	الكشف عن المعلومات الشخصية يمكن أن نقوم بالكشف عن معلوماتك الشخصية لأي من موظفينا أو شركات التأمين أو المستشارين أو الوكلاء أو الموردين أو المقاولين التابعين لنا القدر الضروري بشكل معقول للأغراض المنصوص عليها في هذه السياسة.
          قد نقوم بالإفصاح عن معلوماتك الشخصية لأي عضو في شركاتنا بالقدر الضروري بموجب القانون السويسرى للأغراض المنصوص عليها في هذه السياسة. قد نكشف عن معلوماتك الشخصية: القدر الذي يطلب منا القيام به بموجب القانون. فيما يتعلق بأي إجراءات قانونية جارية أو محتملة. من أجل إنشاء أو ممارسة أو الدفاع عن حقوقنا القانونية (بما في ذلك توفير معلومات للآخرين لأغراض منع الاحتيال والحد من مخاطر الائتمان).

        </div><br>
        <div>
          08.	النقل الدولي للبيانات قد يتم تخزين المعلومات التي نجمعها أو معالجتها أو نقلها بين أي من البلدان التي نعمل فيها لتمكيننا من استخدام المعلومات وفقًا لهذه السياسة. قد يتم نقل المعلومات التي نجمعها إلى البلدان التالية والتي لا تخضع لقوانين حماية البيانات المكافئة لتلك المعمول بها في المنطقة الاقتصادية الأوروبية: وهذه الدول هي الولايات المتحدة الأمريكية، روسيا، اليابان، الصين، والهند. لا نستطيع منع استخدام الآخرين أو إساءة استخدامهم للمعلومات الشخصية التي تنشرها على موقعنا الإلكتروني أو ترسلها للنشر على موقعنا الإلكتروني والمتاحة عبر الإنترنت في جميع أنحاء العالم. أنت توافق صراحة على عمليات نقل المعلومات الشخصية الموضحة في هذا القسم
        </div><br>
      <div>
        09. الاحتفاظ بالمعلومات الشخصية يحدد هذا القسم السياسات والإجراءات التي
        نتبعها للاحتفاظ بالبيانات والتي صممت للمساعدة في ضمان امتثالنا
        لالتزاماتنا القانونية المتعلقة بالاحتفاظ بالمعلومات الشخصية وحذفها. لا
        يجوز الاحتفاظ بالمعلومات الشخصية التي نقوم بمعالجتها لأي غرض أو أغراض
        لفترة أطول مما هو ضروري لهذا الغرض أو لتلك الأغراض فإننا نقوم بحذف
        البيانات الشخصية التي تندرج ضمن الفئات المبينة أدناه في التاريخ / الوقت
        المبين أدناه: نوع البيانات الشخصية تحذف ٧٢ ساعة لاحقا بصرف النظر عن
        الأحكام الأخرى الواردة في هذا القسم فإننا نحتفظ بالوثائق (بما في ذلك
        المستندات الإلكترونية) التي تحتوي على بيانات شخصية: بالقدر المطلوب بموجب
        القانون. إذا كنا نعتقد أن هذه المستندات قد تكون ذات صلة بأي إجراءات
        قانونية جارية أو محتملة. من أجل بدء أو ممارسة أو الدفاع عن حقوقنا
        القانونية (بما في ذلك توفير المعلومات للآخرين لأغراض منع الاحتيال والحد
        من مخاطر الائتمان).
      </div>
      <br />
      <div>
        10. نتعهد باتخاذ الاحتياطات التقنية والتنظيمية المعقولة لمنع فقدان
        معلوماتك الشخصية أو إساءة استخدامها أو تغييرها. نتعهد بتخزين جميع
        المعلومات الشخصية التي تقدمها على خوادمنا الآمنة (المحمية بكلمة مرور
        وجدار الحماية). جميع المعاملات المالية الإلكترونية التي يتم القيام بها
        من خلال موقعنا الإلكتروني محمية بتقنية التشفير. تقرّ بموافقتك على هذه
        السياسة بمعرفتك بأن نقل المعلومات عبر الإنترنت غير آمن بطبيعته، ولا
        يمكننا ضمان أمن البيانات المرسلة عبر الإنترنت. أنت مسؤول عن الحفاظ على
        سرية كلمة المرور التي تستخدمها للوصول إلى موقعنا. لن نطلب منك كلمة
        المرور الخاصة بك (إلا عند تسجيل الدخول إلى موقعنا)
      </div>
      <br />
      <div>
        11. التعديلات قد نقوم بتحديث هذه السياسة من وقت لآخر عن طريق نشر نسخة
        جديدة على موقعنا. يجب عليك مراجعة هذه الصفحة من حين لآخر للتأكد من فهمك
        لأي تغييرات تطرأ على هذه السياسة
      </div>
      <br />
      <div>
        12. حقوقك قد تطلب منا في أي وقت عدم معالجة معلوماتك الشخصية لأغراض
        التسويق. من الناحية العملية، إما أنك ستوافق بشكل صريح مسبقًا على
        استخدامنا لمعلوماتك الشخصية لأغراض التسويق، أو سنمنحك فرصة لإلغاء
        الاشتراك في استخدام معلوماتك الشخصية لأغراض التسويق.
      </div>
      <br />
      <div>
        13. مواقع الطرف الثالث تشمل موقعنا على روابط تشعبية وتفاصيل علمًا بأنه
        ليس لدينا أي سيطرة على سياسات الخصوصية وممارسات الأطراف الثالثة كما أننا
        لسنا مسؤولين عنها.
      </div>
      <br>
      <div>
        14. يرجى اخطارنا حال وجوب تحديث المعلومات الشخصية التي نحتفظ بها عنك
      </div>
      <br>
      <div>
        15. ملفات تعريف الارتباط يستخدم موقعنا ملفات تعريف الارتباط. ملف تعريف
        الارتباط هو ملف يحتوي على معرف (سلسلة من الحروف والأرقام) يتم إرساله
        بواسطة خادم الإنترنت إلى متصفح الإنترنت ويتم تخزينه بواسطة المتصفح، ثم
        يتم إرسال المعرف مرة أخرى إلى الخادم في كل مرة يطلب فيها المتصفح صفحة من
        الخادم.
      </div>
      <br />
      <div>
        16. فيما يلي أسماء ملفات تعريف الارتباط التي نستخدمها على موقعنا
        الإلكتروني والأغراض التي تستخدم من أجلها : نستخدم تحليلات جوجل و Adwords
        على موقعنا للتعرف على جهاز الكمبيوتر عندما يقوم المستخدم }أضف جميع
        استخدامات ملفات تعريف الارتباط المنطبقة على موقعك زيارة الموقع
        الإلكتروني / تتبع المستخدمين أثناء تصفحهم للموقع / تمكين استخدام عربة
        التسوق على الموقع / تحسين قابلية استخدام الموقع / تحليل استخدام الموقع /
        إدارة الموقع / منع الاحتيال وتحسين أمن الموقع / تخصيص الموقع لكل مستخدم
        / الإعلانات المستهدفة التي قد تكون ذات أهمية خاصة لمستخدمين محددين تسمح
        لك معظم المتصفحات برفض قبول ملفات تعريف الارتباط
        <br><br>
        سويسرا فى 6 يونيو 2022
      </div>
    </div>
  </div>
</div>
